# BASIC EXERCISES

In [67]:
#1
print("Hello World")

Hello World

In [4]:
#2
a=int(input("enter a:"))
b=int(input("enter b:"))
sum=a+b
print("sum=",sum)

enter a:2
enter b:3
sum= 5

In [11]:
#3
a=10
b=20
print("before swap","a=",a,"b=",b)
a,b=b,a
print("after swap","a=",a,"b=",b)

before swap a= 10 b= 20
after swap a= 20 b= 10

In [14]:
#4
k=int(input("enter kilometers:"))
miles=0.621371*k
print("miles=",miles)

enter kilometers:12
miles= 7.4564520000000005

In [16]:
#5
n=int(input("enter number:"))
if(n==0):
    print("number is zero")
elif(n%2==0):
    print("number is even")
elif(n%2==1):
    print("number is odd")

enter number:4
number is even

In [18]:
#6
year = int(input("enter year:"))
if (year % 400 == 0) and (year % 100 == 0):
    print(year,"is a leap year")
elif (year % 4 ==0) and (year % 100 != 0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

enter year:2020
2020 is a leap year

In [26]:
#7

lower=int(input("enter lower limit:"))
upper=int(input("enter upper limit:"))

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

enter lower limit:2
enter upper limit:20
Prime numbers between 2 and 20 are:
2
3
5
7
11
13
17
19

In [29]:
#8
n= int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if n<= 0:
   print("Please enter a valid positive integer")
elif n== 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)

else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [31]:
#9
number =int(input("enter number:"))
temp = number
sum = 0
while temp!=0:
    k = temp%10
    sum +=k*k*k
    temp = temp//10
if sum==number:
    print('Armstrong Number')
else:
    print('Not a Armstrong Number')

enter number:153
Armstrong Number

In [34]:
#10
n=int(input("enter number upto u want to generate sum:"))
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
print("sum=",sum)

enter number upto u want to generate sum:20
sum= 210

In [35]:
#11
rows=5
i=1
while(i<=5):
    print("*"*i)
    i=i+1

*
**
***
****
*****

In [36]:
#12

In [45]:
#13
a=[]
n=int(input("enter total elements of list:"))
for i in range(0,n):
    x=int(input("enter the element one by one:"))
    a.append(x)
print("element divisible by 5 are:")
for i in range(len(a)):
    if(a[i]%5==0):
        print(a[i])
    else:
        continue

enter total elements of list:4
enter the element one by one:5
enter the element one by one:10
enter the element one by one:32
enter the element one by one:21
element divisible by 5 are:
5
10

In [46]:
#14
a="heirarchial"
b='hi'
print("hi is present",a.count(b),"times in heirarchial")

hi is present 1 times in heirarchial

In [59]:
#15
n=5
for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [89]:
#16
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:454
The number is a palindrome!

# LIST EXERCISES

In [2]:
#interchanging first and last position of a list
l=[1,2,3,4,5]
x=l.pop()
y=l[0]
del l[0]
l.append(y)
l.insert(0,x)
l

[5, 2, 3, 4, 1]

In [3]:
#swap two elements in a list
l=[1,2,3,4,5]
l[0],l[1]=l[1],l[0] # first and second position elements are swapped
l

[2, 1, 3, 4, 5]

In [7]:
#various ways to find length of list
#using len() function
l=[1,2,3,4,5]
print("length of list is:",len(l))
#using for loop
for i in l:
    count=i
print("length of list:",count)

length of list is: 5
length of list: 5

In [8]:
#maximum of list in python
l=[1,2,3,4,5]
max(l)

5

In [9]:
#minimum of list in python
l=[1,2,3,4,5]
min(l)

1

# STRING EXERCISES

In [12]:
#given string is a palindrome or not
string=input("Enter string:")
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("The string is not a palindrome")

Enter string:PTUTP
The string is a palindrome

In [20]:
#reverse letters in a given string
string=input("Enter string:")
print("reversed string is:",string[::-1])

Enter string:hii
reversed string is: iih

In [26]:
#ways to remove iTH charecter from a string in python
def remove(str,i):
    str1=str[:i]
    str2=str[i+1:]
    return str1+str2
str=input("enter string:")
i=int(input("enter index to be removed:"))
remove(str,i)

enter string:ipynb
enter index to be removed:0

'pynb'

# TUPLE EXERCISES

In [27]:
#finding size of tuple
t=1,2,3,4,'a'
len(t)

5

In [29]:
#maximum and minimum elements of tuple
t=1,2,3,4,5
print("max=",max(t))
print("min=",min(t))

max= 5
min= 1

In [30]:
#sum of elements of tuple
t=1,2,3,4,5
print("sum=",sum(t))

sum= 15

# SET EXERCISES

In [32]:
#finding size of set in python
s={2,3,'a',98}
print("length of set is:",len(s))

length of set is: 4

In [43]:
#iterate over a set in python
s={2,3,'a',98}
print("the set elements are:")
s

the set elements are:

{2, 3, 98, 'a'}

# DICTIONARY EXERCISES

In [44]:
#sorting a python dictionary by key/value
dict1 = {1: 1, 2: 9, 3: 4}
sorted_values = sorted(dict1.values()) 
sorted_dict = {}

for i in sorted_values:
    for k in dict1.keys():
        if dict1[k] == i:
            sorted_dict[k] = dict1[k]
            break

print(sorted_dict)

{1: 1, 3: 4, 2: 9}

In [45]:
#python dictionary with keys having multiple inputs
my_dict = {}

a, b, c = 4, 3, 2
my_dict[a, b, c] = a + b - c

a, b, c = 5, 4, 11
my_dict[a, b, c] = a + b - c

print("The dictionary is :")
print(my_dict)

The dictionary is :
{(4, 3, 2): 5, (5, 4, 11): -2}

# FUNCTION EXERCISES

In [47]:
#how to get the list of parameters name from a function in python
def func(a,b):
    return a/b
import inspect   #by importing inspect module and using signature function
inspect.signature(func)

In [50]:
#finding the power of a number using recursion
def power(base, p):
    if p == 0:  # base condition
        return 1
    else:
        return (base*power(base,p-1)) 
 
base=2
p=3

 
print(power(base,p))

8

# MATRIX EXERCISES

In [65]:
#ASSIGNING SUBSEQUENT ROWS TO MATRIX FIRST ROW ELEMENTS

In [66]:
#ADDITION AND SUBTRACTTION OF MATRICES
A = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

B = [[5,8,1],
    [6,7,3],
    [4,5,9]]
C=[[0,0,0],[0,0,0],[0,0,0]]
D=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(A)):
    for j in range(len(B)):
        C[i][j]=A[i][j]+B[i][j]
        D[i][j]=A[i][j]-B[i][j]
print("ADDED MATRIX IS:")
print(C)
print("SUBTRACTED MATRIX IS:")
print(D)

ADDED MATRIX IS:
[[17, 15, 4], [10, 12, 9], [11, 13, 18]]
SUBTRACTED MATRIX IS:
[[7, -1, 2], [-2, -2, 3], [3, 3, 0]]